
/* variable */
$primary-color: #ff5000
$basic-gray: #e6e8ec
$placeholder-gray: #7D8395
$basic-white: #fff

/* Mixin */
//@mixin solid
//  background-color: $primary-color
//  color: $basic-white
//@mixin stripe
//  background-color: $basic-white
//  border: 2px solid $primary-color
//  color: $primary-color
